body {
    background-color: rgb(61, 61, 61);
}

.title {
    font-family: monospace;
    color: rgb(207, 199, 121);
    text-align: center;
    font-size: xx-large;
    background-color: rgb(39, 39, 39);
    border-radius: 5px;
    padding: 10px;
}

.target1 {
    height: 200px;
    width: 200px;
    background-color: #bbb;
    border-radius: 50%;
    align-items: center;
    margin: 0 auto;
}

#dart {
    position: absolute;
    height: 50px;
    width: 50px;
    background-color: rgb(220, 42, 42);
    border-radius: 50%;
    align-items: center;
}

.text {
    align-self: center;
}



.area {
    padding: 10%;
    margin-left: 150px;
    margin-right: 150px;
    background-color: rgb(39, 39, 39);
    border-radius: 5px;
    align-items: center;
}