body {
    background-color: rgb(61, 61, 61);
}

.title {
    font-family: monospace;
    color: rgb(207, 199, 121);
    text-align: center;
    background-color: rgb(39, 39, 39);
    border-radius: 5px;
    padding: 10px;
}

.target1 {
    height: 200px;
    width: 200px;
    background-color: #bbb;
    border-radius: 50%;
    align-items: center;
    margin: 0 auto;
}

#dart {
    position: absolute;
    height: 15px;
    width: 15px;
    background-color: rgb(220, 42, 42);
    border-radius: 50%;
    align-items: center;
}

.text {
    align-self: center;
}



.area {
    padding: 10%;
    margin-left: 150px;
    margin-right: 150px;
    background-color: rgb(39, 39, 39);
    border-radius: 5px;
    align-items: center;
}


.reset {
    transition: background-color 1s;
    transition: border-radius 1s;
    transition: font-size 1s;
    display: inline;
    text-align: center;
    font-family: monospace;
    color: rgb(207, 199, 121);
    text-align: center;
    background-color: rgb(39, 39, 39);
    border-radius: 3px;
    padding: 10px;
    margin: 0 auto;
}

.reset:hover {
    font-family: monospace;
    color: rgb(207, 199, 121);
    text-align: center;
    background-color: rgb(22, 22, 22);
    font-size: large;
    border-radius: 7px;
    padding: 10px;
}